.container-1{
    padding: 40px;
    padding-top: 100px;
    text-align: center;
}

.welcome-head{
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.welcome-content{
    width: 453px;
    font-family: Poppins;
    font-size: 17px;
    margin-left: 34%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #000000;
}

.section-container{
    padding: 40px;
    align-items: center;
}
.inner-box{
    width: 70%;
    margin-left: 16%;
    border-radius: 25px;
    padding: 40px;
    background-color: rgb(116,211,11, 0.05);
    display: flex;
    flex-direction: row;
}

.section-container-head{
    width: 30%;
    padding: 15px;
    padding-top: 30px;
    font-family: Poppins;
    color: #000000;
}

#head-name{
    font-size: 42px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
}
#head-content{
    opacity: 0.7;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
}
.impact-box{
    width: 70%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.impact-box-block{
    width: 30%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.impact-dp{
    border-radius: 10px;
    width: 170px;
    height: 170px;  
    object-fit: cover;
}
/* .impact-dp-box{
    cursor: pointer;
} */
.impact-user-content{
    padding: 3px;
    font-family: Poppins;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000000;
}
#member-count{
    font-size: 14px;
    font-weight: 700;
    padding-top: 7px;
    margin-top: -2%;
}

.impact-user-content h5:hover{
    color: gold;
}
#cmp-name{
    font-size: 12px;
    opacity: 0.7;
    margin-top: -10%;
}

.impact-chain-box{
    display: none;
    padding: 45px;
    /* background-color: bisque; */
    text-align: center;
    font-size: 40px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #000000;
}
h2{
    font-weight: 700;
}
.chain-odd-box{
    padding: 35px;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-self: flex-start;
    /* flex-wrap: wrap; */
    /* overflow: hidden; */
}
.img-block{
    width: 25%;
    padding: 15px;
    border-radius: 50%;
    /* background-color: blue; */
    justify-content: space-evenly;
}
.student-profile-pic{
    width: 190px;
    height: 190px;
    margin-top: 2%;
    border-radius: 50%;
    object-fit: cover;
}
/* .Line-1 {
    width: 2px;
    height: 1px;
    margin: 5.7px 78.6px 17.3px 188.6px;
    transform: rotate(2deg);
    border: solid 2px #74d30b;
  } */
  hr {
    width: 10%;
    display: block;
    height: 2px;
    border: 0;
    border-top: 4px solid #74d30b;
    margin: 3em 0;
    padding: 0;
}
.chain-even-box{
    flex-direction: row-reverse !important;
    padding: 35px;
    padding-right: 100px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-self: flex-end;
    /* flex-wrap: wrap; */
    /* overflow: hidden; */
}

.curved-line-left{
    margin-left: -70%;
    transform: rotate(180deg);
    height:"300"; width:"800"; 
    fill:none; 
    stroke:black; 
    stroke-width:3; 
}
.curved-line-right
{
    height: 300px;
    width: 800px;
    margin-left:65%;
    margin-top: -25%;
    transform: rotate(270deg);
    fill:none; 
    stroke:black; 
    stroke-width:3; 
}


@media screen and (max-width: 600px)
{
    .container-1{
        padding: 7px;
        padding-top: 70px;
    }
    .welcome-head{
        font-size: 55px;
    }
    .welcome-content{
        width: 100%;
        margin-left: 0px;
    }
    .section-container{
        padding: 10px;
    }
    .section-container-head{
        width: 100%;
        text-align: center !important;
        padding: 0px;
    }
    .inner-box{
        width: 100%;
        margin-left: 0px;
        padding: 0px;
        flex-direction: column;
    }
    #head-content{
        font-size: 15px;
    }
    .impact-box{
        width: 100%;
        padding:0px;
    }
    .impact-box-block{
        width: 50%;
    }
    /* .impact-dp{
        margin-left: 5%;
    } */
    .impact-user-content{
        text-align: center !important;
    }
    .impact-chain-box{
        padding: 20px;
    }
    .chain-even-box{
        padding: 65px;
        padding-top: 0px;
        padding-bottom: 0px;
        flex-direction: column !important;
    }
    .chain-odd-box{
        padding: 65px;
        padding-top: 0px;
        padding-bottom: 0px;
        flex-direction: column;
    }
    hr{
        display: none;
    }
    .student-profile-pic{
        margin-top: 17%;
    }
    .curved-line-left{
        display: none;
    }
    .curved-line-right{
        display: none;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px){
    .chain-even-box{
        padding: 97px !important;
        padding-top: 0px;
        padding-bottom: 0px;
        flex-direction: column !important;
    }
    .chain-odd-box{
        padding: 97px !important;
        padding-top: 0px;
        padding-bottom: 0px;
        flex-direction: column;
    }
}

@media screen and (min-width:700px) and (max-width: 800px)
{
    .welcome-content{
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
    .inner-box{
        width: 100%;
        margin-left: 0px;
        padding: 0px;
    }
    .impact-chain-box{
        padding: 20px;
    }
    .impact-box-block{
        width: 40%;
    }
    #member-count{
        margin-top: 0%;
    }
    .chain-even-box{
        padding: 0px;
    }
    .chain-odd-box{
        padding: 0px;
    }
    .student-profile-pic{
        width: 128px;
        height: 128px;
    }
    hr{
        margin: 2em 0;
    }
}

@media screen and (min-width:800px) and (max-width: 900px)
{
    .welcome-content{
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
    .inner-box{
        width: 90%;
        margin-left: 33px;
        padding: 0px;
    }
    .impact-chain-box{
        padding: 20px;
    }
    .impact-box-block{
        width: 40%;
    }
    #member-count{
        margin-top: 0%;
    }
    .chain-even-box{
        padding: 0px;
    }
    .chain-odd-box{
        padding: 0px;
    }
    .student-profile-pic{
        width: 145px;
        height: 145px;
    }
    hr{
        margin: 2em 0;
    }
}

@media screen and (min-width:900px) and (max-width:1200px)
{
    .welcome-content{
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
    .inner-box{
        width: 75%;
        margin-left: 8.5%;
    }
    .impact-box-block{
        width: 33%;
    }
    .impact-dp{
        width: 150px;
        height: 150px;
    }
    .chain-even-box{
        padding-left: 3px;
        padding-right: 35px;
    }
    .chain-odd-box{
        padding-left: 0px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1444px)
{
    .chain-odd-box{
        padding-left: 88px;
    }
    .chain-even-box{
        padding-right: 17px;
    }
}
